body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	background-image: repeating-linear-gradient(90deg, #fff, #fff 10px, #fbfbfb 20px, #fbfbfb 40px);
}

a {
	text-decoration: none;
}

.grid-contenedor {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto 0.1fr;
    gap: 10px 0px;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}


/*---- HEADER/NAV-----*/
.header {
	padding: 20px;
	background: rgb(241, 245, 250);
    grid-area: header;
    .logo {
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
    }
}

.menu{
    display: flex;
    width: 100%;
}

.menu1 {
	border-top: 1px solid #d1c086;
	border-bottom: 1px solid #d1c086;
    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    a {
        padding: 10px;
        color: #000;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        width: 100%;
        text-align: center;
        transition: 0.2s ease all;
        font-size: 16px;
            &:hover {
            background: $colorUno;
            color: #fff;
            }
    }
    
}